@model Assign.DAL.Models.Assignment

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "_LayoutTeacher";
}
<h1>Details</h1>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LidNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LidNavigation.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Asid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
