@model IEnumerable<Assign.DAL.Models.Token>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_LayoutTeacher";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Token1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Used)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Token1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Used)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TokId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TokId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TokId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
