@model List<Assign.DAL.Models.Student>

<h1>Student List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Group No</th>
            <th>Hobby</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Sid</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.GroupNo</td>
                <td>@student.Hobby</td>
            </tr>
        }
    </tbody>
</table>
